Repository mlsmaycon/netbird-api-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, golangci-lint, go-test, go-mod-tidy

.pre-commit-config.yaml:

repos:
  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go fmt'
        description: 'Run go fmt'
        entry: make fmt
        language: system
        files: '\.go$'
        pass_filenames: false
      
      - id: go-vet
        name: 'go vet'
        description: 'Run go vet'
        entry: go vet ./...
        language: system
        files: '\.go$'
        pass_filenames: false
      
      - id: golangci-lint
        name: 'golangci-lint'
        description: 'Run golangci-lint'
        entry: make lint
        language: system
        files: '\.go$'
        pass_filenames: false
      
      - id: go-test
        name: 'go test'
        description: 'Run go test'
        entry: make test
        language: system
        files: '\.go$'
        pass_filenames: false
      
      - id: go-mod-tidy
        name: 'go mod tidy'
        description: 'Run go mod tidy'
        entry: go mod tidy
        language: system
        files: '^go\.(mod|sum)$'
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
        types: [go]
      - id: end-of-file-fixer
        types: [go]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global settings
fail_fast: false
default_stages: [pre-commit]

Update CHANGELOG.md for version 0.1.36
  CHANGELOG.md
Due: none

Enhance PR build workflow and integration testing
  .github/workflows/pr-build.yml
  CHANGELOG.md
  charts/netbird-api-exporter/Chart.yaml
Due: none

Update PR build workflow for Docker image tagging and Helm repo management
  .github/workflows/pr-build.yml
Due: none

Enhance PR build workflow for multi-platform Docker image validation and schema checks
  .github/workflows/pr-build.yml
Due: none

Enhance PR build workflow with concurrency control and optimized YAML to JSON conversion
  .github/workflows/pr-build.yml
Due: none

Refactor PR build workflow for improved YAML validation and Helm chart checks
  .github/workflows/pr-build.yml
Due: none

Update PR build workflow to skip detailed schema validation
  .github/workflows/pr-build.yml
Due: none

Refactor Helm chart value settings in PR build workflow
  .github/workflows/pr-build.yml
Due: none

Add help flag functionality to main application
  .github/workflows/pr-build.yml
  main.go
Due: go-fmt, go-vet, golangci-lint, go-test

Enhance PR build workflow with image tagging and Docker Compose updates
  .github/workflows/pr-build.yml
Due: none

Update README.md
  README.md
Due: none

Fix Prometheus metric naming by removing the _total suffix from gauge metrics across various files to adhere to official guidelines. Updated documentation and examples to reflect these changes.
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  charts/netbird-api-exporter/Chart.yaml
  charts/netbird-api-exporter/README.md
  docs/getting-started.md
  examples/grafana-queries.md
  grafana-dashboard.json
  pkg/exporters/dns.go
  pkg/exporters/dns_test.go
  pkg/exporters/groups.go
  pkg/exporters/groups_test.go
  pkg/exporters/networks.go
  pkg/exporters/networks_test.go
  pkg/exporters/peers.go
  pkg/exporters/peers_test.go
  pkg/exporters/users.go
  pkg/exporters/users_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

Add Docker Compose test job to CI workflow
  .github/workflows/test.yml
Due: none

Update Docker Compose command in CI workflow for consistency
  .github/workflows/test.yml
Due: none

Enhance test summary in CI workflow to include all critical test results
  .github/workflows/test.yml
Due: none

Add Helm chart testing to CI workflow
  .github/workflows/test.yml
  CHANGELOG.md
  charts/netbird-api-exporter/Chart.yaml
Due: none

Remove references to [Unreleased] section in CHANGELOG.md for clarity and consistency.
  CHANGELOG.md
Due: none

Update CHANGELOG.md to include version 0.1.40 and document the addition of Helm chart testing in CI workflow.
  CHANGELOG.md
Due: none

Update CHANGELOG.md to include version 0.1.40 and [Unreleased] section for upcoming changes.
  CHANGELOG.md
Due: none

Fix Helm chart test configuration to use correct values structure in GitHub Actions workflow and update Chart.yaml annotations.
  .github/workflows/test.yml
  charts/netbird-api-exporter/Chart.yaml
Due: none

Refactor GitHub Actions workflow to use a values override file for Helm chart baking, improving configuration management and clarity.
  .github/workflows/test.yml
  charts/netbird-api-exporter/Chart.yaml
Due: none

Refactor GitHub Actions workflow for Helm chart testing, correcting deployment name and utilizing GitHub secrets for API token. Update test summary for improved clarity and consistency.
  .github/workflows/test.yml
  charts/netbird-api-exporter/Chart.yaml
Due: none

Add debugging logs to GitHub Actions workflow for Helm chart testing, enhancing visibility into pod status, logs, and events for troubleshooting deployment issues.
  .github/workflows/test.yml
  charts/netbird-api-exporter/Chart.yaml
Due: none

Update GitHub Actions workflow to improve log retrieval and metrics check for netbird API exporter, enhancing troubleshooting capabilities.
  .github/workflows/test.yml
Due: none

Improve DNS resolution and port connectivity tests in netbird API exporter. Added detailed logging for service name resolution and IP address checks, enhancing diagnostics for connectivity issues.
  charts/netbird-api-exporter/templates/tests/test-connection.yaml
Due: none

feat: implement comprehensive coverage configuration and CI/CD integration
  .claude/commands/sparc/coder.md
  .claude/commands/sparc/orchestrator.md
  .claude/commands/sparc/researcher.md
  .claude/commands/swarm/analysis.md
  .claude/commands/swarm/development.md
  .claude/commands/swarm/examples.md
  .claude/commands/swarm/maintenance.md
  .claude/commands/swarm/optimization.md
  .claude/commands/swarm/research.md
  .claude/commands/swarm/testing.md
  .claude/config.json
  .claude/settings.json
  .coverage.yml
  .coveragerc
  .github/coverage-gate.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .roomodes
  CLAUDE.md
  COVERAGE.md
  Makefile
  claude-flow
  codecov.yml
  coverage-workflow-summary.md
  coverage/coverage.json
  coverage/coverage.txt
  docs/coverage-gate.md
  docs/coverage-monitoring.md
  memory/backups/backup-2025-06-23T08-04-08-431Z.json
  memory/backups/backup-2025-06-23T08-04-16-530Z.json
  memory/backups/backup-2025-06-23T08-04-37-881Z.json
  memory/backups/backup-2025-06-23T08-07-02-105Z.json
  memory/backups/backup-2025-06-23T08-07-13-207Z.json
  memory/backups/backup-2025-06-23T08-08-33-398Z.json
  memory/backups/backup-2025-06-23T08-14-11-398Z.json
  memory/data/entries.json
  scripts/check-coverage.sh
  scripts/coverage-gate.sh
  scripts/coverage.sh
  scripts/test-coverage-workflow.sh
Due: none

feat: enhance GitHub Actions workflow with permissions and output configuration
  .github/workflows/coverage.yml
Due: none

chore: remove coverage workflow summary documentation
  coverage-workflow-summary.md
Due: none

feat: add netbird_peer_connection_status_by_name metric for tracking peer connection status
  CHANGELOG.md
  README.md
  charts/netbird-api-exporter/Chart.yaml
  pkg/exporters/peers.go
  pkg/exporters/peers_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: correct formatting in peers_test.go for consistency
  pkg/exporters/peers_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

Fix module path to match GitHub repo
  go.mod
Due: go-mod-tidy

Update import paths to reflect new GitHub repository structure
  ARCHITECTURE.md
  main.go
  pkg/exporters/dns.go
  pkg/exporters/dns_test.go
  pkg/exporters/exporter.go
  pkg/exporters/exporter_test.go
  pkg/exporters/groups.go
  pkg/exporters/groups_test.go
  pkg/exporters/networks.go
  pkg/exporters/networks_test.go
  pkg/exporters/peers.go
  pkg/exporters/peers_test.go
  pkg/exporters/performance_test.go
  pkg/exporters/users.go
  pkg/exporters/users_test.go
  pkg/integration_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

docs: add changelog entry for import path fix
  CHANGELOG.md
  charts/netbird-api-exporter/Chart.yaml
Due: none

user NetBird rest client
  README.md
  go.mod
  go.sum
  pkg/exporters/dns.go
  pkg/exporters/dns_test.go
  pkg/exporters/exporter.go
  pkg/exporters/exporter_test.go
  pkg/exporters/groups.go
  pkg/exporters/groups_test.go
  pkg/exporters/networks.go
  pkg/exporters/networks_test.go
  pkg/exporters/peers.go
  pkg/exporters/peers_test.go
  pkg/exporters/performance_test.go
  pkg/exporters/users.go
  pkg/exporters/users_test.go
  pkg/integration_test.go
  pkg/netbird/client.go
  pkg/netbird/client_integration_test.go
  pkg/netbird/client_test.go
  pkg/netbird/types.go
  pkg/netbird/types_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-mod-tidy

update code coverage and changelog
  CHANGELOG.md
  CONTRIBUTING.md
  charts/netbird-api-exporter/Chart.yaml
  coverage/coverage.json
  coverage/coverage.txt
Due: none
